require 'bundler/setup'
require 'quiver'

module <%= camelized_name %>
  class Application
    include Quiver::Application

<%- if options[:active_record] -%>
    use_active_record!
<%- end -%>

    load_everything!
  end
end
